<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon links -->
    {% block metaT %}{% endblock metaT %}
    {% block metaD %}{% endblock metaD %}
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{% static 'logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'logo/favicon-57.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'logo/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'logo/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'logo/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'logo/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'logo/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'logo/favicon-152.png' %}">
    <meta name="application-name" content="ChauffePro">
    <meta name="msapplication-TileImage" content="{% static 'logo/favicon-144.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <!-- End  Favicon links -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block title %}
    {% endblock title %}
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="{% static 'logo/logo.png' %}" width="50" height="50" class="d-inline-block align-top"
                alt="">
            {{user.nom_sur_site}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if self == 'index' %}active{% endif %}">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                {% if services %}
                <li class="nav-item dropdown {% if self == 'services' %}active{% endif %}">
                    <div class="btn-group">
                        <a href="/services" class="nav-link {% if self == 'services' %}active{% endif %}">Nos
                            services</a>
                        <div class="dropdown-menu">
                            {% for service in services %}
                            <a class="dropdown-item"
                                href="/services/{{service.service_url}}">{{service.service_title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if gallery %}
                <li class="nav-item {% if self == 'gallery' %}active{% endif %}">
                    <a class="nav-link" href="/gallery">Gallery</a>
                </li>
                {% endif %}
                {% if news %}
                <li class="nav-item {% if self == 'news' %}active{% endif %}">
                    <a class="nav-link" href="/news">Actualités</a>
                </li>
                {% endif %}
                <li class="nav-item {% if self == 'contact' %}active{% endif %}">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light footer-container">
        <footer>
            <div class="row my-5 justify-content-center py-5">
                <div class="col-11">
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                            <h3 class="text-muted mb-md-0 mb-5 bold-text">Pepper.</h3>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                            <ul class="list-unstyled">
                                <li><a href="/">Home</a></li>
                                {% if services %}<li><a href="/services">Nos services</a></li>{% endif %}
                                {% if gallery %}<li><a href="/gallery">Gallerie</a></li>{% endif %}
                                {% if news %}<li><a href="/news">Actualités</a></li>{% endif %}
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>Recherche fréquentes</b></h6>
                            <ul class="list-unstyled">
                                {% for linkseo in seoLinks %}
                                <li>
                                    <a href="/about/{{linkseo.url}}">{{linkseo.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                            <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i
                                        class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i
                                        class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span
                                    class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small
                                class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                            <h6 class="mt-55 mt-2 text-muted bold-text"><b>Email</b></h6><small> <span><i
                                        class="fa fa-envelope" aria-hidden="true"></i></span>{{user.email}}</small>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                            <h6 class="text-muted bold-text"><b>Telephone</b></h6><small><span><i
                                        class="fa fa-phone" aria-hidden="true"></i></span>{{user.phone}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $.get("https://ipinfo.io", function (response) {
            console.log(response.city, response.country);
        }, "jsonp");
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>