
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{self.title | capfirst}}</title>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Message sent!</strong> The form has been submited successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="container">
    <div class="subContainer">
        <form method="post" id="contact-form">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="location" id="loc">
            <button type="submit" class="submitButton">Submit</button>
        </form>
    </div>
</div>

{% if success %}
<script>
    document.getElementById("contact-form").reset();
</script>
{% endif %}

<input type="hidden" name="location">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $.get("https://ipinfo.io", function (response) {
        $('#loc').val(`${response.city} - ${response.country}`);
    }, "jsonp");
</script>
{% endblock %}