{% load static %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{self.title | capfirst}}</title>
{% load crispy_forms_tags %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Message sent!</strong> The form has been submited successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="contactContainer">
    <h3>Contact us</h3>
    <p>Send us a mail for more informations, we will get back to you as soon as possible to answer your welcomed
        questions !</p>
    <div class="contactContent">
        {% if self == 'contact' %}
        <div class="imgContainer">
            <img src="{% static 'images/contact.webp' %}" alt="contact us - Xerixy">
        </div>
        {% endif %}
        <div class="subContainer">
            <form method="post" id="contact-form" {%  if self == 'contact'  %}
                style="display: flex; flex-direction: column;" {% endif %}>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="location" id="loc">
                <button type="submit" class="submitButton">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
{% if success %}
<script>
    document.getElementById("contact-form").reset();
    $('html, body').animate({
        scrollTop: $("#contact-form").offset().top - $("#contact-form").height()
    }, 1000);
</script>
{% endif %}

<input type="hidden" name="location">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $.get("https://ipinfo.io", function (response) {
        $('#loc').val(`${response.city} - ${response.country}`);
    }, "jsonp");
</script>