{% extends "base.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
<title>Contact</title>
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Message sent!</strong> The form has been submited successfully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div class="container">
    <div class="subContainer">
        <form method="post" id="contact-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="submitButton">Submit</button>
        </form>
    </div>
</div>

{% if success %}
<script>
    document.getElementById("contact-form").reset();
    console.log("done")
</script>
{% endif %}

<input type="hidden" name="location" value="">
<script>
    $.get("https://ipinfo.io", function (response) {
        console.log(response.city, response.country);
    }, "jsonp");
</script>
{% endblock %}