{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block title %}
<title>{{user.nom_sur_site}}</title>
{% endblock title %}
{% block content %}

<div class="landing">
    <div class="bgImage">
        <img src="{% static 'images/banierre.webp' %}" alt="">
    </div>
    <div class="quote">
        <h2>your future <br />in our hands.</h2>
    </div>
    <div class="secondQuote">
        <h3>Xerisy gives you vision to a successful business</h3>
    </div>
</div>
<div class="salma">
    <img src="{% static 'images/salma.svg' %}" alt="">
</div>
<div class="about">
    <div class="aboutContentContainer">
        <div class="aboutTitle">
            <h3>about us</h3>
        </div>
        <div class="aboutContent">
            <p>
                Xerisy is a digital agency that will help you grow
                your business with our digital solutions
                and I really dont know what to write here
                cs Adnane didn't want to give me a good speech
                and it's been days I can't think and I feel lik im
                having a blocked mind so im just trying to fill this
                part where we gonna write sth nice after.
            </p>
        </div>
        <div class="aboutButton">
            <a href="">
                Order now
            </a>
        </div>
    </div>
    <div class="aboutImage">
        <img src="{% static 'images/aboutImage.webp' %}" alt="">
    </div>
</div>
<div class="mission">
    <div class="title">
        <h3>our mission</h3>
    </div>
    <div class="animationContainer">
        <section class="animation">
            <div class="cardContainer">
                <div class="card">
                    <div class="number">
                        <h1>1</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Project study </h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>2</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Sketching /UI</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>3</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Conception</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>4</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Delivery</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>5</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Search Engine Optimization</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
<div class="team">
    <div class="title">
        <h3>our team</h3>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sed perspiciatis quos quo aliquid. Voluptates
        obcaecati veniam harum vitae. Incidunt enim asperiores tenetur modi possimus, fugiat cupiditate nemo, autem odio
        eos excepturi aliquid corrupti ullam ipsam. Ad unde asperiores at enim reiciendis, repellendus assumenda earum
        consequatur, eius sunt vel consequuntur fugit voluptas incidunt. Sequi id commodi eveniet recusandae fugiat non
        odio optio praesentium error necessitatibus ipsum a odit molestiae rem voluptatem doloribus fuga eius et maiores
        expedita pariatur, numquam blanditiis architecto quasi? Sit similique, aliquid, blanditiis fugiat ipsam eos
        officiis veniam quo, exercitationem itaque velit cum tempora illo beatae accusantium voluptatem voluptate eius
        nemo atque doloribus deserunt. Mollitia praesentium beatae nesciunt quaerat incidunt debitis a omnis maxime
        facilis, velit iusto ratione cumque tempore magnam exercitationem numquam enim voluptas nostrum nam, doloribus
        culpa nobis voluptatem laborum. Repellat ab totam fugit voluptas libero, neque dolore mollitia quaerat esse
        consequuntur? Consequuntur ad inventore placeat similique obcaecati dolore alias omnis voluptates ipsam, vel
        deleniti, atque accusamus? Deserunt unde, reprehenderit provident beatae vero sint aspernatur voluptas repellat
        deleniti vel amet pariatur rem facilis error, incidunt dicta quas ab eum quasi delectus eveniet! Quidem aut quam
        placeat illo dolorum sint delectus, minima doloremque. Earum dolor vel magni accusamus consequatur? Tempora
        recusandae delectus, enim facere aut optio iure quod at consequatur quas provident esse excepturi voluptate
        maxime aliquam nam ex doloremque quibusdam dolor labore est perferendis sapiente! Nemo alias repudiandae illo
        voluptatibus accusamus architecto! Impedit voluptatem illo saepe numquam laborum voluptates deleniti illum
        veritatis molestias, quas suscipit earum delectus non aspernatur id, placeat quod sapiente, expedita
        necessitatibus. Corrupti et unde sunt! Voluptatum qui ipsam, ipsa quas consectetur, accusamus nihil illo debitis
        fugit dolorem autem! Quasi beatae, praesentium, ipsa voluptatem, magni perspiciatis officia quas necessitatibus
        quod fugit adipisci dolorem commodi? Distinctio eveniet facere a ipsa enim aut non praesentium voluptates,
        repudiandae quia, recusandae suscipit temporibus! Totam, consequatur? Repudiandae nam unde assumenda. Earum vero
        tempora, praesentium porro nesciunt, atque cum dolore reprehenderit pariatur alias, voluptatibus blanditiis
        asperiores eveniet quia tenetur obcaecati soluta inventore illo. Quasi nostrum, labore laborum vel laudantium
        dolor at voluptates quibusdam et consectetur, rerum ea magni? Nisi ipsa aliquam rerum laudantium expedita saepe.
        Repellendus natus est quo odit architecto aspernatur dolorem molestiae, ex deserunt iste quam dignissimos? In,
        totam consectetur corporis nisi vel maiores voluptas odit earum modi, debitis dolore obcaecati possimus,
        consequatur repellendus nulla qui voluptatem repudiandae perferendis nemo aut quo? Officia consequatur quibusdam
        corrupti ipsam, molestiae natus, quas aperiam cum qui architecto quae minus dolorum odio possimus commodi
        asperiores maxime! Labore dolore atque consequatur repellat ducimus libero aliquid reiciendis magni eum
        consectetur numquam expedita ullam temporibus voluptate aspernatur fugiat, nisi, pariatur ut sed laboriosam,
        dolor neque omnis! Eum dolor fugit error alias. Quibusdam, quas repudiandae commodi, inventore minus molestias
        numquam modi aliquam optio cumque nesciunt dolor reprehenderit sunt iste. Accusamus recusandae aperiam, maiores
        at animi, sequi illo expedita accusantium minima totam ad error? Dolor iure cumque veritatis ipsum rerum nostrum
        quasi error adipisci quisquam sed accusamus eligendi voluptas possimus quis reprehenderit, id libero itaque
        consectetur, in illo soluta aspernatur quas repellat eaque. Tenetur, placeat maxime porro consectetur aspernatur
        excepturi illo quos veritatis dolores impedit voluptates quibusdam. Corporis ex, deserunt, ipsa reiciendis
        inventore, et doloribus molestias totam modi consequatur eos vero quas facere tenetur provident sapiente maiores
        aliquam molestiae quidem voluptatum eaque dolores aperiam enim quasi! Veniam natus odit accusamus consequuntur
        praesentium est deleniti voluptatum vero saepe in deserunt veritatis placeat ipsam facilis molestias voluptates
        nemo, voluptatibus quidem quae, cumque numquam totam rem illo harum? Perspiciatis est beatae veniam placeat
        tempora rerum autem facere quas quo aliquid dolorem reiciendis aspernatur illum dolores, dolorum voluptate
        corporis, maxime quasi repellat nulla sint! Quo commodi voluptas iste? Similique aut est, ducimus, natus totam
        eum libero maiores vel nesciunt, obcaecati id possimus hic doloremque nam voluptatem voluptatibus! Porro
        temporibus enim, amet doloribus voluptas pariatur, recusandae quasi perspiciatis alias minima iusto voluptatum
        modi ullam fuga harum? Ea unde alias possimus ab nesciunt! Eos iusto doloribus sunt consectetur, ab porro.
        Incidunt architecto vel quidem autem animi voluptate iste minus at ut dolorum quaerat accusantium eos eaque
        fuga, possimus natus facilis. Excepturi id fuga ratione doloribus commodi delectus impedit minus. Nesciunt
        alias, illum perferendis illo unde a eligendi eum laboriosam laudantium ipsam explicabo aliquid eveniet
        asperiores nam ea obcaecati nisi, nulla dolor? Ducimus quidem ex vero consequatur recusandae et dicta nulla iure
        minima atque nihil eum, commodi dolorum libero porro hic itaque deserunt exercitationem soluta eius. Repudiandae
        pariatur debitis, distinctio natus nostrum maiores laudantium hic porro blanditiis sunt perspiciatis ex et
        tenetur error vel ab recusandae qui facilis accusantium animi minima. Labore quis ut ipsum perspiciatis eius
        expedita suscipit quos quod quam velit. Odio aliquam molestias voluptatem iste perferendis animi. Sint quidem
        earum sapiente numquam, fugit inventore non dignissimos voluptas perferendis eveniet deserunt magni adipisci
        nostrum consectetur doloremque eius atque quisquam et dicta explicabo, dolor maiores ratione. Minus rem, dolore
        neque eligendi laborum harum facilis in vitae tempore vero distinctio eos recusandae, commodi eum dicta fuga ex
        rerum? Assumenda tempore ipsam, accusantium praesentium reiciendis similique numquam corrupti aspernatur
        officiis temporibus odit mollitia culpa necessitatibus fugiat maxime, quibusdam illo cum eius rerum quam
        explicabo dolores. Excepturi soluta quia esse totam neque non fuga! Natus quasi, eos minus id cum repellat,
        obcaecati recusandae quam ratione tempora aliquid voluptatum. Hic, rerum placeat ipsa quas error explicabo totam
        provident vitae corporis consequuntur magnam qui reiciendis iste blanditiis. Corrupti suscipit beatae
        reprehenderit fugit eligendi dolore nisi odio perferendis at. Amet dicta delectus ullam non dolores qui odit
        aliquid porro voluptatibus, culpa numquam illum enim ex. Aspernatur illo nostrum ipsam nemo quo vitae dolorem
        alias veritatis numquam possimus veniam voluptates laborum inventore illum accusantium, temporibus quos autem
        totam repudiandae quae nobis quasi. Dicta deserunt nesciunt nam ullam illum temporibus dignissimos amet
        repudiandae quo, obcaecati numquam esse eligendi? Voluptatum nobis rerum, nostrum odio quaerat dolore repellat
        sapiente sit harum saepe, cumque accusantium beatae, pariatur dolorem quibusdam optio temporibus recusandae
        doloremque ipsam libero fugiat tempora natus. Laborum unde vel mollitia iste assumenda quasi velit? Cupiditate
        nemo eum neque quod in reprehenderit itaque facere? At sunt velit fugiat consectetur autem accusamus,
        repudiandae consequuntur eius corporis, odit repellendus soluta ipsum est ex excepturi libero hic deserunt
        nihil. Autem illum, corporis necessitatibus ipsum voluptatibus perferendis eligendi aut, fugiat vel voluptas
        magni repellat nemo iusto quae dolorum fuga odio dolores soluta tempora cumque ad nobis eaque commodi.
        Architecto saepe aperiam unde consequuntur dignissimos? Nisi, voluptatem? Quasi aspernatur soluta dolorem ut
        magni voluptate a eum laboriosam ipsa enim, voluptatibus voluptas ab commodi amet. Voluptates, debitis voluptas
        sunt et eum minima doloribus. Hic, dolor incidunt! Beatae impedit voluptatibus delectus? Molestias provident
        soluta dolores. Impedit doloribus eos excepturi eligendi non harum voluptates omnis, aliquid, accusantium nihil
        rem placeat tempore, recusandae accusamus provident blanditiis doloremque eius incidunt minima nesciunt eveniet
        quia tenetur ipsa est! Tempore veritatis minus officiis voluptas illum repellat? Voluptatibus blanditiis
        voluptatem minima, eligendi soluta consequuntur vel vitae adipisci voluptatum, tempore sit ipsum excepturi odit
        architecto ullam aut! Numquam necessitatibus nisi velit nemo, at hic doloremque, nostrum, ratione magnam
        voluptatibus illum. Atque molestiae, molestias, voluptatem, quo adipisci a ex dolorem dolorum dicta corrupti
        hic. Fuga qui sed mollitia deleniti rerum quasi labore. Repellendus magnam adipisci, voluptate fugit cupiditate
        quis odit dolorem aut eius? Minus, fuga. Illo autem sit architecto, natus magnam ullam, iste, est ratione
        debitis aut facere consectetur expedita tempora laboriosam! Similique possimus porro nulla ipsam voluptatibus ea
        reprehenderit deleniti aperiam doloremque modi aliquid quis eos odio vel assumenda harum rerum eum, maxime iusto
        enim magnam cumque quidem. Officiis facere hic iusto. Natus quas, at ipsam inventore, rem dolorum perspiciatis,
        aliquam ducimus facilis officiis maiores numquam tenetur ad sed dolores neque adipisci ut deleniti aspernatur.
        Quaerat dolores, magni quam repudiandae asperiores architecto deserunt atque aspernatur dolore sequi nihil
        delectus modi nulla. Voluptate, pariatur ipsam at quas ratione nisi quam aliquam adipisci dicta deleniti qui
        rerum, natus odit aliquid. Eum repellendus facilis facere, placeat, ullam aliquid, quasi repellat eius corrupti
        soluta consequatur pariatur esse? Incidunt qui illo unde ut in ea suscipit similique corrupti vel beatae dolor
        nobis quasi deserunt mollitia, repellat architecto at illum commodi distinctio adipisci! Impedit tempore sed
        architecto ad laudantium? Consequatur nam vitae nulla nemo doloremque dolorum, quo tenetur vero harum dicta ad
        quaerat perspiciatis tempora fuga aperiam iure, autem accusantium quos illum sed architecto magni error odio
        excepturi. Iusto deleniti vel est. Provident similique, praesentium, minus fugiat, eveniet vitae nemo in
        expedita nihil culpa eos atque? Minus dolores repudiandae eligendi accusantium fuga tenetur a. Distinctio
        necessitatibus provident eaque dicta animi aliquam deserunt placeat, vel nam iusto inventore doloremque illo
        numquam facilis porro at adipisci autem sint modi itaque! Dolores totam in similique, quisquam, voluptate porro
        vero, facere quas reprehenderit delectus eveniet? Consectetur voluptatibus aliquam, tempora fugit, excepturi
        nisi porro ipsum, optio perspiciatis accusantium dignissimos eius earum ea voluptates unde aspernatur doloribus
        quis deserunt obcaecati. A quidem laborum aliquam, quas inventore reprehenderit illum architecto, cupiditate
        beatae ratione ipsum ab omnis commodi eligendi dolorum. Porro minus nobis id doloribus, optio commodi deleniti
        magni nihil. Totam autem suscipit quae illum obcaecati labore ipsam quo odio magni iure error tempora,
        temporibus expedita voluptas veniam ipsum quibusdam. Corporis illum similique inventore accusantium ut dolores
        provident ullam assumenda exercitationem, ratione maiores harum libero tempore qui vitae fugiat. Repudiandae
        tempora ratione quae facilis fugit harum dolores ex? Sunt, exercitationem cupiditate quam qui earum distinctio
        aut reprehenderit unde sint libero temporibus. Repellat consectetur minima, rem exercitationem fuga veritatis
        quas voluptates vero laborum vitae iusto? Aspernatur eligendi tempore libero provident at esse rem consequatur
        aliquid? Quaerat perferendis aspernatur temporibus iusto aperiam id suscipit sapiente eaque aliquam ad placeat,
        autem tempora laudantium assumenda animi a quibusdam inventore accusamus quasi eum quo ratione esse alias
        voluptatibus. Ipsum fugiat ab nihil aliquid doloribus atque voluptates veniam repudiandae, minus enim voluptatum
        earum quisquam doloremque autem eligendi, blanditiis illo in labore adipisci laboriosam quia quam voluptatibus?
        Assumenda delectus error, ullam incidunt ex harum vero atque, dolor dolorum optio possimus eveniet ipsum
        pariatur numquam totam placeat sit cupiditate exercitationem molestias eum ipsam quia explicabo porro. Aut,
        provident ducimus nam hic, eaque doloremque voluptatibus voluptate quis, cupiditate impedit vitae magni aliquid
        exercitationem. Aliquid voluptates maiores quidem a voluptate facere officiis consectetur, unde in optio magni
        commodi quas, repellendus sunt blanditiis autem, asperiores necessitatibus illum similique dolore. Sunt magnam
        sit quibusdam modi tenetur culpa neque laborum voluptates perspiciatis fugit maxime atque natus cumque quidem ex
        earum dolorem, quia, placeat ea ipsa? Vitae eos quo expedita possimus itaque corrupti accusantium reiciendis?
        Perferendis eos quas dolor in nobis suscipit quis id blanditiis provident? Odit, repellendus! Enim libero nam,
        minus autem laudantium amet, et voluptatem aspernatur itaque aperiam excepturi necessitatibus aliquid,
        asperiores eligendi provident maxime velit repellat laboriosam natus nisi. Veniam itaque sunt harum. Neque,
        assumenda ducimus eos doloremque impedit nam qui harum libero esse minima! Laboriosam reprehenderit, labore ea
        error iure nobis! Fugit voluptatem ratione soluta mollitia distinctio dolores. Eligendi odio amet repellat, cum
        numquam fugiat? Saepe maxime aliquid nihil dolor magnam error esse, pariatur fuga? Dicta, quibusdam quidem nihil
        doloribus esse voluptate quasi facere cumque expedita nemo recusandae maxime iste dignissimos praesentium non
        quae fuga beatae laboriosam in impedit, veritatis ducimus repudiandae eveniet. Dicta fugit, ullam autem natus
        perferendis repellat ab explicabo, amet ipsa mollitia quia iure? Animi vitae debitis, voluptate, magnam ipsam
        labore a atque quia voluptas amet eaque explicabo harum voluptatibus ab cupiditate ullam ratione facere quas
        odit velit in quam eos? Dolorum laborum aut assumenda, officia doloribus cupiditate alias, amet quidem ex
        exercitationem hic libero ut culpa doloremque. Cumque minima autem ea maiores dolores non est ab quibusdam nam
        sint quisquam ducimus, laboriosam distinctio quod dolorem tempore eos, explicabo accusantium voluptatum? Soluta
        molestias porro modi provident officiis quam, error hic architecto veritatis, voluptatum sit ad facilis
        accusantium eveniet aperiam cumque voluptas distinctio excepturi possimus repellendus debitis aliquam illo.
        Ipsam provident similique odio eaque necessitatibus, aliquid nisi, sed blanditiis illum quidem debitis cum ex
        architecto modi. Numquam iure modi error ipsum quaerat officia. Ducimus laborum distinctio placeat, fugit
        suscipit, voluptatum dolores sunt ut neque sit dolorem ea provident perferendis dolor voluptates esse, hic
        natus. Iusto, explicabo! Aut ipsum illo, earum molestiae placeat iusto alias incidunt ducimus tempore blanditiis
        dolorem reiciendis? Omnis harum sapiente nisi sit doloribus perspiciatis dicta natus? Minima modi nostrum
        aliquid, a voluptas id exercitationem enim consequatur omnis ut rem quam tempora dolores! Ea facilis officiis
        cupiditate consequuntur excepturi dolorem, a et, sed hic deserunt vel modi aut, nemo vero rem. Voluptate
        laboriosam sapiente expedita nihil quis accusamus eaque repudiandae, aliquid quam impedit voluptatibus, quae
        nemo numquam libero corrupti porro perferendis ipsa mollitia maxime blanditiis, distinctio et quidem ullam?
        Numquam ad provident nihil quibusdam iusto fugit ab magni blanditiis voluptatum, minima, asperiores quo placeat
        quae eveniet modi molestiae exercitationem nostrum vitae dicta error necessitatibus. Laborum labore mollitia
        veniam in perferendis, corrupti eligendi quisquam soluta numquam nisi et natus sed. Alias aliquam debitis,
        rerum, vero nulla ullam hic expedita voluptatem rem quis consequuntur dolor? Eum eaque sit dolorem aliquid
        officiis officia itaque, dicta provident ea unde quae quis qui vitae natus atque consectetur exercitationem
        veritatis quidem, earum asperiores sed cumque repellat perferendis corporis. Aperiam eaque necessitatibus
        voluptatum quasi impedit, doloribus ipsum omnis modi quae explicabo numquam neque in quaerat sint iste ratione
        exercitationem tempora possimus non harum itaque odit cumque, laudantium veniam! Sed quam harum laboriosam
        obcaecati vel, id velit odio vitae fugiat aliquam eos eveniet similique iste blanditiis nisi laborum labore
        aliquid consequuntur sapiente corporis corrupti dolorum? Maxime voluptate nostrum molestias. Repellendus
        laboriosam deleniti ea amet eos itaque aliquam eius sed, magnam error qui a soluta et sequi provident commodi
        assumenda ratione! Soluta, officia. Rerum deleniti at optio voluptates dicta minus corrupti debitis! Delectus
        eum velit placeat! Minus ipsam delectus corrupti, aliquam, fuga laborum fugit pariatur, quos debitis provident
        et recusandae magnam iure voluptatibus assumenda facilis optio tempore tempora molestiae! Fugiat accusantium quo
        error ut, laborum ducimus recusandae, ipsam non beatae quidem consequatur neque possimus dolorem porro!
        Explicabo, quo fugiat. Placeat modi, similique ipsum eum impedit, possimus quaerat doloremque velit quo vero
        voluptatibus enim expedita debitis. Repellat placeat voluptates modi hic incidunt autem error quae officiis,
        provident architecto. Et, ipsa voluptatem. Facilis qui, ipsa laborum rerum possimus aliquam, voluptas,
        laboriosam quod saepe et distinctio. Dolore error quas autem at dolorum repudiandae laborum, adipisci natus quod
        deserunt iusto a sint, veniam laudantium exercitationem facilis incidunt quia. Cumque magni illo perferendis
        expedita aspernatur aut placeat inventore fuga temporibus tempore laudantium velit, quibusdam exercitationem
        quis maiores! Ipsum, fuga dolorum dolorem eveniet voluptatum perferendis ducimus eius eos minus deserunt
        officiis repellendus eaque soluta magni corporis placeat impedit voluptatem praesentium ratione enim omnis, iure
        architecto! Facere ab sed doloribus tenetur cumque animi non accusantium voluptatum eius deleniti assumenda
        illum maiores, nobis repellendus, veritatis repudiandae? Cum reprehenderit, ipsum, delectus debitis eius quos in
        aperiam totam atque assumenda vel at animi aliquam quae eligendi maxime laborum eos, nesciunt hic. Facere nobis
        minus ut minima saepe voluptate, delectus hic et. Consequatur alias quia, delectus laboriosam id fugiat beatae!
        Illum fugit assumenda cum blanditiis. Explicabo sit at non impedit labore laudantium voluptatum laborum
        cupiditate, inventore officiis cum placeat est fugit perspiciatis adipisci aliquid laboriosam ut facilis
        quibusdam in voluptate eligendi. Veniam, commodi. Ipsam deserunt voluptatibus fuga quibusdam in fugiat. Ab
        laboriosam beatae maxime reprehenderit? Omnis reprehenderit optio, ab esse expedita vero minus repellendus
        quibusdam? Blanditiis culpa fugiat dolorum suscipit, facilis consequatur libero autem consectetur. Maiores non
        porro delectus at pariatur ut eum facere vitae accusantium labore qui obcaecati, alias provident animi fuga
        repudiandae atque libero! Fuga, doloribus architecto sapiente at earum culpa doloremque iusto veniam repellat
        illum recusandae libero vero ullam rem numquam a omnis cum aliquam minima obcaecati similique quod, beatae
        itaque! Corrupti dicta porro magni tenetur sint molestias inventore ipsa aspernatur natus autem, ad nobis
        delectus provident deleniti impedit dolor perferendis beatae sed obcaecati quos iste earum perspiciatis illo
        asperiores. Provident nulla magni corrupti atque eos libero iure, eaque similique voluptatem minus, soluta quod
        odit accusamus, vel optio sit! Suscipit, eum blanditiis? Quam dignissimos eveniet assumenda quos molestias
        similique recusandae consectetur iusto harum dolore quasi voluptate voluptates officiis laborum ipsam, modi vero
        aut exercitationem, quas natus enim atque omnis sapiente fugit. Alias, mollitia nesciunt quidem quasi dolorum ut
        voluptate aut aperiam ipsa reiciendis? Temporibus aut eligendi voluptatibus, iure sint quos quod? Nostrum iure
        suscipit facilis soluta nemo veritatis ad illo eos magni perspiciatis rem, labore fuga ullam! Nisi dolorum odit,
        blanditiis accusantium facilis perferendis est quibusdam at cum numquam, voluptates veritatis officiis ipsam,
        ullam quaerat incidunt molestias impedit. Tempore unde maiores, temporibus in corrupti ut ipsum, atque sed, odit
        assumenda officia odio possimus explicabo sapiente quasi. Vel ipsam fugiat ipsa eveniet, qui itaque obcaecati ab
        officiis debitis! Excepturi numquam debitis autem recusandae ab pariatur! Assumenda aliquid reiciendis porro
        deleniti, consequatur nemo blanditiis eligendi minima iste. Expedita cum, aspernatur quisquam doloribus deleniti
        fugit vitae? Nihil illo, eaque enim accusamus neque magnam maxime ratione illum similique, eveniet nostrum
        distinctio aspernatur saepe explicabo maiores corporis perferendis nisi. Eum qui eaque quisquam iste? Nemo,
        aliquam. Magni cum error perspiciatis natus consequatur facere praesentium totam, excepturi voluptatibus nobis
        commodi consectetur sit quibusdam adipisci esse dolorem distinctio necessitatibus. Eum tenetur maiores dolore
        repellendus saepe. Vel veritatis esse commodi enim voluptatum perspiciatis, eveniet quas fugit placeat ratione
        animi dolorum similique dolorem, nulla itaque beatae amet, corporis molestias vitae officia quo! Temporibus
        beatae velit, alias eaque repellat dignissimos, quae fugit aperiam accusantium veritatis illo nihil debitis
        quasi quos exercitationem quidem molestiae ut dolores odio nulla omnis perspiciatis sequi maxime. Nulla error
        laudantium quasi saepe, dignissimos maiores, necessitatibus delectus soluta, explicabo repellendus ratione
        tenetur dicta voluptates similique nostrum incidunt? Iure iste nesciunt repellat totam ut! Rem cum quae
        veritatis dicta quis? Hic dolor animi accusamus quisquam aspernatur minima quaerat blanditiis debitis aliquid
        natus beatae, laboriosam quos quis non nulla consectetur aperiam vero necessitatibus magni. Optio unde ducimus
        nobis fugiat dolore omnis odio inventore alias illo suscipit beatae iste, quas voluptatem! Molestias at dolorem
        aliquam totam illum quasi aperiam, soluta labore fuga dolore incidunt! Repudiandae tempora enim magnam molestias
        perspiciatis officia voluptates odio architecto ullam fugit incidunt maxime fuga voluptatum, dolore
        exercitationem delectus similique qui saepe dolor repellendus optio perferendis aut sapiente. Officiis deleniti
        quos voluptas at ad sapiente distinctio a iure repudiandae tempore temporibus modi porro rem consequatur quasi
        reiciendis ea explicabo et ratione, magni sint nulla accusamus molestiae! Distinctio id quo blanditiis culpa
        vero soluta, ab, sint nemo facilis, ducimus beatae molestiae similique incidunt iusto omnis perferendis nulla
        vitae ratione. Debitis harum incidunt vel earum recusandae iste dolorum exercitationem voluptatem similique et,
        suscipit ipsam beatae, quidem odit corrupti asperiores facilis, at pariatur consectetur eos repudiandae
        molestias dolor doloribus maiores. Numquam porro harum nobis earum velit, aperiam cupiditate distinctio unde
        fugiat eos totam doloremque ipsa consectetur rem blanditiis suscipit vero reprehenderit expedita pariatur
        voluptates cum at. Quasi tempora optio impedit, eum doloribus eveniet enim deserunt nisi culpa fugit nesciunt
        labore quidem, distinctio mollitia a consequuntur? Dignissimos ullam, ipsa consequuntur voluptatibus quia qui
        explicabo, iusto, doloremque repudiandae accusamus error culpa! Quam magni fugiat quisquam sint doloribus quo
        asperiores, laborum delectus, ullam rem mollitia impedit iste consequatur accusamus repudiandae dolores
        voluptatibus unde et facere exercitationem quia dolorem quasi adipisci nostrum? Suscipit, veritatis aperiam
        obcaecati quibusdam eligendi, repudiandae qui eaque autem maxime quaerat fuga, voluptates architecto eveniet
        provident unde exercitationem perspiciatis illum tenetur culpa placeat perferendis officia cupiditate.
        Voluptatibus, accusantium. Ratione necessitatibus dignissimos obcaecati natus molestiae voluptatem sed sunt.
        Quisquam unde facere neque, consectetur officia ad natus quae eum. Nesciunt, dolor! Cum exercitationem dolor
        consequuntur illum, deserunt maiores, sit libero nemo, dolore unde tempore aliquam impedit perspiciatis. Ea
        obcaecati odio, animi facere id ab culpa sequi ratione dolorem maxime atque nam quod numquam. Saepe, eos
        quisquam dolore animi, architecto consequatur quia asperiores repudiandae incidunt vel eligendi cumque.
        Consequuntur quod facere impedit magni culpa commodi officiis ad exercitationem ea nisi soluta numquam sed
        laudantium, obcaecati saepe voluptates vel vitae, odit corrupti. Ea pariatur, sint eveniet, quos officia quae
        error commodi voluptates et iure totam ex libero accusantium neque, delectus illo aliquam numquam ratione quo
        enim recusandae minus ab reprehenderit! Maiores earum minima eos provident sint! Culpa assumenda nam, dicta
        aperiam a atque unde quisquam nisi eveniet, soluta laboriosam ipsam provident mollitia. Debitis repudiandae
        magnam corporis odio perferendis voluptas aspernatur accusamus, deserunt fugit. Rerum dolorum obcaecati
        veritatis reiciendis recusandae suscipit. Repudiandae eaque iure commodi repellat culpa molestias tempora rerum
        amet optio deleniti, magnam excepturi quibusdam eius distinctio quaerat illo, vitae perferendis nobis
        exercitationem? Nisi iusto libero dignissimos! Quam accusantium doloremque praesentium aliquid totam animi.
        Iste, fugit. Minima quas quidem porro sint, cupiditate quod magnam id necessitatibus, provident qui dolores
        tempora. Id ipsum ab reprehenderit odio, atque minima deleniti, ullam mollitia nostrum laudantium a iste
        molestiae, nemo harum et perferendis vero. Ipsum vero soluta tenetur dicta possimus qui, architecto, doloribus
        nam eos, doloremque quasi debitis atque! Ut omnis ipsam laborum molestiae, nobis minima. Error praesentium,
        atque, inventore deleniti est animi temporibus possimus at ducimus itaque nam minus dolores dolore aliquid sunt
        illum. Provident architecto saepe deleniti possimus ex ipsa alias! Eaque ullam minus nihil enim deleniti maiores
        fugit, dicta neque ad illo hic molestiae ipsa quo iure id dolorem aliquid mollitia molestias, maxime doloribus a
        commodi. Expedita explicabo iure deserunt ratione, consequuntur qui dignissimos fuga molestiae veritatis
        eligendi quaerat vel assumenda corrupti sint minima vero sunt. Asperiores, cum repellat molestiae ipsa quibusdam
        modi. Sit ducimus voluptatum libero repudiandae. Quod quia quidem ipsum laboriosam repellat blanditiis
        architecto, maxime culpa modi itaque perspiciatis ad illum. Incidunt necessitatibus molestiae consequuntur
        corporis ab nobis vitae, recusandae, maxime excepturi quas distinctio eius ut ratione voluptate aspernatur
        dignissimos quasi odio! Sequi quaerat similique, consectetur, officia voluptate dignissimos ipsa hic, nam quos
        aliquam aspernatur. Doloremque temporibus laudantium delectus sequi aperiam sunt, possimus laboriosam tenetur
        assumenda neque vel quod porro, nemo quasi cum consequuntur voluptatum, repellat quis accusamus inventore sint
        tempore debitis odit ipsam? Facere est ipsam ex animi sunt necessitatibus sit perspiciatis eveniet dolor et
        possimus obcaecati repellendus mollitia, nemo sint soluta culpa iusto nihil, ipsa deleniti cum ducimus expedita.
        Enim doloremque reprehenderit eveniet aliquam dicta esse ipsam, delectus ea cumque aliquid praesentium possimus
        ex atque distinctio quaerat culpa ducimus quos voluptatum. In commodi laboriosam tenetur voluptatibus, dolore,
        fuga odio atque architecto excepturi cupiditate vel error quia optio ea voluptatem quidem officiis. Iusto rem
        ipsa exercitationem consequuntur. Quam pariatur iure et nostrum illo quis, ratione ullam, aspernatur assumenda
        facere deserunt perferendis libero adipisci enim, maiores in nulla dolorum deleniti cupiditate. Dolores
        exercitationem impedit voluptate ullam eum est veniam a incidunt hic illum. Enim sunt ad doloribus ab quo qui,
        asperiores hic voluptate maiores quam illo at minus, voluptatibus expedita iste. Iusto perspiciatis aut quisquam
        cumque ullam, nesciunt non cum a ipsam explicabo assumenda et provident ut illum nisi saepe, obcaecati
        voluptates omnis fugit earum eos repellendus mollitia! Laboriosam fugit dicta voluptate et blanditiis ducimus id
        mollitia ad voluptatibus asperiores dolore laborum nesciunt reprehenderit in sapiente fugiat iusto, ipsam beatae
        aspernatur facere veniam libero minus modi. Facilis quae labore dolorem eum aut possimus debitis illo
        necessitatibus, iste non, laborum, optio iure numquam suscipit cumque? Ullam eligendi nisi, libero perferendis
        saepe assumenda, totam eaque nesciunt, iste numquam ipsum inventore enim deleniti quidem quisquam id. Labore
        voluptas eligendi temporibus soluta asperiores reprehenderit laudantium optio, nostrum, quasi quibusdam
        excepturi ullam minima voluptatum odit ipsum itaque tempora. Molestias dolorum labore laboriosam rem quidem.
        Corrupti alias ipsum assumenda libero deleniti ab voluptate pariatur aspernatur officia? Maxime repudiandae
        quisquam quaerat deserunt similique eum ipsum ex sed error, ratione eos ducimus, blanditiis corrupti delectus
        expedita laboriosam tenetur adipisci consequuntur atque. Non nesciunt iste ab ad illum, eligendi consectetur
        minima, ipsum temporibus iusto doloremque sapiente optio, voluptatum aut odit explicabo voluptatibus maxime
        similique necessitatibus. Reprehenderit minus ut voluptatibus, laboriosam facilis itaque, dicta excepturi,
        ratione odio nisi omnis unde placeat rem? Fugiat architecto necessitatibus accusantium nemo optio quae quis,
        rerum eaque dignissimos animi nobis illum, odit perferendis, nostrum possimus. Facilis quam magnam non numquam
        repellendus explicabo doloribus quod est amet voluptates tempora, dolores necessitatibus excepturi debitis.
        Provident, nihil illo! Voluptate aut, est saepe unde ullam aliquid libero nostrum illum magnam aspernatur,
        laboriosam cupiditate! Libero, pariatur. Quos excepturi repellendus sapiente autem rerum ipsam dignissimos
        accusantium, possimus quis necessitatibus illo consectetur quo dolorum labore tempore facere nisi a quidem
        officiis animi assumenda enim impedit minus! Vitae illum, perferendis aperiam iusto quo iure pariatur inventore
        nemo recusandae, a numquam voluptate adipisci, saepe explicabo et mollitia? Sapiente tenetur qui eius dolorem
        repudiandae! Est rerum, nobis unde ullam omnis fugiat? Quibusdam iste natus porro delectus corrupti dolorum
        officiis quos consectetur perspiciatis fugit. Soluta, corporis commodi dolorum iusto rerum omnis numquam ratione
        quas incidunt repellendus quibusdam quo perspiciatis ut sequi! Veritatis vel aut quas eius, quos itaque at saepe
        rem explicabo accusamus consequuntur consectetur odit quaerat qui odio architecto. Doloribus temporibus eos
        reprehenderit molestias perspiciatis voluptates totam fuga quasi quis officiis blanditiis iure laborum impedit
        similique modi inventore sed explicabo eligendi, nesciunt magnam illo atque, architecto quam. Beatae voluptas
        quibusdam adipisci natus alias fugiat, quidem ipsam laboriosam, sint, saepe eaque recusandae tenetur quasi!
        Laboriosam porro enim perspiciatis similique, nisi suscipit laudantium numquam, quidem facere facilis, impedit
        sit tempora a eum ut molestias qui labore cumque minus dolore fugit vitae incidunt! Ab officiis facilis impedit
        culpa, ratione corrupti eum sunt consequatur odio minima deleniti voluptatem obcaecati sit voluptas eius hic
        nisi quos ut vero accusantium similique. Vitae, praesentium porro modi, ipsam, inventore quis quia fugit
        voluptatum earum consequuntur quisquam provident. Quam, consectetur! Asperiores maxime placeat commodi
        accusantium dolore numquam neque. Dolorum alias debitis esse voluptates, aspernatur inventore saepe totam sint,
        quae vel quas consequatur soluta blanditiis itaque? Commodi hic porro adipisci magnam nobis sit ratione
        laudantium quos esse natus, animi distinctio nam reprehenderit quo aspernatur consectetur mollitia sapiente
        ullam iusto dicta corrupti est quasi asperiores? Laboriosam voluptatibus ratione, earum natus numquam voluptatem
        officia deserunt at perferendis dolore? Incidunt cupiditate earum corrupti quasi, asperiores amet voluptatibus
        voluptatem tempora, eligendi reiciendis optio, vitae ullam fuga labore magnam necessitatibus. Quo veritatis
        assumenda dolor culpa nesciunt quibusdam voluptatibus et incidunt nam? Deleniti magnam dolore incidunt natus
        iure nemo doloribus quaerat, quis soluta autem cum. Ratione, placeat mollitia! A similique, illum nam soluta
        voluptatum repellendus commodi deleniti explicabo dolorum doloribus omnis numquam esse? Ipsam labore itaque a
        possimus deleniti aliquid sit excepturi dolore exercitationem adipisci, laboriosam, temporibus praesentium in
        totam quis sint quia unde tenetur odit quo ad mollitia? Sed optio vero cupiditate distinctio accusamus, quisquam
        numquam eum placeat inventore non animi nobis perferendis aliquid doloremque iusto culpa quae illo harum
        dolores, voluptatibus fugit consequatur. Vel error in commodi laudantium porro beatae qui, officiis dolores
        rerum sunt, ratione aliquid accusantium nisi illo saepe aliquam provident sed aperiam consequatur. Labore quasi
        quae, officiis cum quaerat error unde quibusdam, temporibus impedit praesentium repellat culpa enim quo deserunt
        facere neque nesciunt. In autem dicta corrupti. Maxime quod mollitia velit nihil, assumenda, corrupti qui beatae
        quas aspernatur repellendus molestiae consectetur nam eligendi deleniti voluptates dolore eaque? Aperiam, autem
        suscipit magni minus eaque laudantium quasi odit sit deleniti accusamus reiciendis! Minus dolores in nesciunt
        veniam nulla molestias possimus aliquam omnis cum. Ipsam velit nam veritatis tempora corporis. Quas culpa
        accusantium quo quos nam unde explicabo suscipit ullam iusto! Totam, perferendis, explicabo quis exercitationem
        dolorem dolores laborum temporibus aliquid provident voluptatem impedit mollitia aspernatur laudantium harum
        cupiditate officia magni distinctio molestiae vero? Atque inventore quasi vero labore delectus similique nihil
        odit voluptates obcaecati consectetur ullam aut cumque doloribus quam exercitationem id fugit, aperiam repellat
        harum porro quisquam debitis accusamus. Ad commodi nam debitis. Aliquam iusto adipisci corporis sequi minus,
        illum id perferendis blanditiis voluptatibus veniam maiores qui ea earum fugiat et ducimus eligendi esse tenetur
        nemo accusamus? Mollitia, blanditiis. Officia doloremque, nostrum autem blanditiis fuga harum eligendi dolor
        velit dicta natus maxime, molestias voluptatem praesentium dolore culpa fugiat omnis cum vel in quia numquam
        quam impedit. Iure nihil totam voluptatibus assumenda? Tempora nesciunt unde voluptas dolor laborum, sed ab sit
        ea fuga ipsum ullam nulla accusantium nostrum veritatis quis inventore nam expedita! Necessitatibus rerum quam
        nihil pariatur dolores ex corrupti incidunt accusamus, voluptatem neque perspiciatis nam quas veritatis
        assumenda culpa aspernatur voluptates, repellat unde expedita perferendis, cupiditate in ullam nulla. Eos id
        quos libero nemo, natus optio numquam voluptatum suscipit omnis amet. Perspiciatis fuga officiis cupiditate
        incidunt, eveniet debitis omnis ab similique a voluptas, doloremque perferendis est impedit iusto. Non aperiam
        suscipit animi esse perspiciatis, doloremque necessitatibus voluptates eligendi unde illo quaerat repellat
        libero nihil tempora? Voluptatem adipisci temporibus ex, odit explicabo quod nisi praesentium, beatae facere
        dolores voluptatibus sunt qui exercitationem minima rerum amet architecto excepturi nulla modi eius? Deleniti
        necessitatibus quae eum unde nobis, illum sunt delectus doloribus quidem beatae reprehenderit a? Non vero quia
        id aspernatur? Quisquam quos veritatis eum possimus maiores magni velit qui tempore consequatur nam architecto
        repellendus, ipsa culpa, molestias dicta quod accusantium sed, laudantium non saepe adipisci est? Doloribus,
        exercitationem. Veritatis vero itaque ipsa modi distinctio dolores illum. Mollitia expedita animi modi
        exercitationem. Nisi accusantium, assumenda quisquam recusandae distinctio, odio maxime eligendi fuga dicta
        blanditiis eum aperiam repellat dolorem velit enim nihil possimus. Dolores doloremque rem molestiae laborum
        repellendus possimus molestias, unde laudantium reiciendis quia deleniti id, ipsum nulla accusantium nesciunt.
        Error doloribus, tempore amet non natus ullam? Numquam veniam delectus, dolorem nobis nihil sequi quis officiis
        recusandae vitae, expedita inventore explicabo omnis pariatur distinctio molestiae tempore. Nisi dignissimos,
        eaque quos ipsa ullam consectetur, minima eveniet optio cum non atque fuga? Dolores perferendis explicabo rem
        aperiam. Aperiam ipsa esse odit unde voluptatem dolor ullam amet, in laboriosam doloribus veritatis voluptatibus
        corrupti ex illo sed! Voluptates praesentium sunt harum. In deleniti suscipit temporibus nobis voluptatum,
        culpa, aspernatur sequi ea nulla amet perspiciatis consequatur voluptates! Sunt architecto id quibusdam ullam,
        commodi eaque. Error veritatis odit consectetur facere illum adipisci eaque ducimus eveniet ipsum omnis enim
        praesentium magnam, fugit nisi laudantium at iusto exercitationem natus aliquid repellendus accusamus pariatur
        velit corporis mollitia? Facilis omnis quidem tempora commodi unde dolore eveniet corrupti. Animi asperiores
        voluptate ipsam aspernatur ipsa ut provident et veniam voluptatem, nemo, placeat autem odio qui itaque enim quos
        ad consequuntur earum ab saepe! Ducimus ullam laudantium sequi consectetur cum aut architecto a minus provident
        illum quisquam, unde eius quod placeat! Iure repellendus, numquam cum corrupti optio rerum sed tenetur animi
        reprehenderit atque fugiat repellat, ipsum architecto.
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
    integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"
    integrity="sha512-RvUydNGlqYJapy0t4AH8hDv/It+zKsv4wOQGb+iOnEfa6NnF2fzjXgRy+FDjSpMfC3sjokNUzsfYZaZ8QAwIxg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/MotionPathPlugin.min.js"
    integrity="sha512-Dbub1kAP2vz+A+B+SnoJ/d79wY/Lxj/4c5A2LDm8sCF2YWHGJJRYNxDCJLP56cCsVfzhVZMMqPbGDx8ckvdt5g=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"
    integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww=="
    crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}