{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" charset="utf-8">
{% endblock css %}
{% block title %}
<title>{{user.nom_sur_site}}</title>
{% endblock title %}
{% block content %}

<div class="landing">
    <div class="bgImage">
        <img src="{% static 'images/banierre.webp' %}" alt="">
    </div>
    <div class="quote">
        <h2>your future <br />in our hands.</h2>
    </div>
    <div class="secondQuote">
        <h3>Xerisy gives you vision to a successful business</h3>
    </div>
</div>
<div class="salma">
    <img src="{% static 'images/salma.svg' %}" alt="">
</div>
<div class="about">
    <div class="aboutContentContainer">
        <div class="aboutTitle">
            <h3>about us</h3>
        </div>
        <div class="aboutContent">
            <p>
                Xerisy is a digital agency that will help you grow
                your business with our digital solutions
                and I really dont know what to write here
                cs Adnane didn't want to give me a good speech
                and it's been days I can't think and I feel lik im
                having a blocked mind so im just trying to fill this
                part where we gonna write sth nice after.
            </p>
        </div>
        <div class="aboutButton">
            <a href="">
                Order now
            </a>
        </div>
    </div>
    <div class="aboutImage">
        <img src="{% static 'images/aboutImage.webp' %}" alt="">
    </div>
</div>
<div class="mission">
    <div class="title">
        <h3>our mission</h3>
    </div>
    <div class="animationContainer">
        <section class="animation">
            <div class="cardContainer">
                <div class="card">
                    <div class="number">
                        <h1>1</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Project study </h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>2</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Sketching /UI</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>3</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Conception</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>4</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Delivery</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="number">
                        <h1>5</h1>
                    </div>
                    <div class="cardTitle">
                        <h4>Search Engine Optimization</h4>
                    </div>
                    <div class="cardContent">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias cumque, est
                            voluptates
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>
<div class="team">
    <div class="title">
        <h3>our team</h3>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/MotionPathPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}