{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" charset="utf-8">
{% endblock css %}
{% block title %}
<title>{{user.nom_sur_site}}</title>
{% endblock title %}
{% block content %}

<div class="landing">
    <div class="socialLinks">
        <div class="socialLink">
            <a href="https://www.instagram.com/xerixy/" target="_blank" rel="noopener noreferrer">
                Instagram
                <img src="{% static 'images/instagram.svg' %}" alt="">
            </a>
        </div>
        <div class="socialLink">
            <a href="https://www.facebook.com/Xerixy-101135438796636/" target="_blank" rel="noopener noreferrer">
                Facebook
                <img src="{% static 'images/facebook.svg' %}" alt="">
            </a>
        </div>
        <div class="socialLink">
            <a href="mailto:xerixy.sams@gmail.com" target="_blank" rel="noopener noreferrer">
                Mail
                <img src="{% static 'images/mail.svg' %}" alt="">
            </a>
        </div>
    </div>
    <div class="bgImage">
        <img src="{% static 'images/banierre.webp' %}" alt="">
    </div>
    <div class="quote">
        <h2>your future <br />in our hands.</h2>
    </div>
    <div class="secondQuote">
        <h3>Xerisy gives you vision to a successful business</h3>
    </div>
</div>
<div class="salma">
    <img src="{% static 'images/salma.svg' %}" alt="">
</div>
<div class="about">
    <div class="aboutContentContainer">
        <div class="aboutTitle">
            <h3>about us</h3>
        </div>
        <div class="aboutContent">
            <p>
                Xerisy is a digital agency that will help you grow
                your business with our digital solutions
                and I really dont know what to write here
                cs Adnane didn't want to give me a good speech
                and it's been days I can't think and I feel lik im
                having a blocked mind so im just trying to fill this
                part where we gonna write sth nice after.
            </p>
        </div>
        <div class="aboutButton">
            <a href="">
                Order now
            </a>
        </div>
    </div>
    <div class="aboutImage">
        <img src="{% static 'images/aboutImage.webp' %}" alt="">
    </div>
</div>
<div class="mission">
    <div class="title">
        <h3>our mission</h3>
    </div>
    <div class="parallax">
        <div class="slices">
            <h1>Project study</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil maxime rem amet harum eos qui,
                aliquid magni consequuntur aliquam veritatis in omnis animi facilis!</p>
        </div>
        <div class="slices">
            <h1>Sketching /UI</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil maxime rem amet harum eos qui,
                aliquid magni consequuntur aliquam veritatis in omnis animi facilis!</p>
        </div>
        <div class="slices">
            <h1>Conception</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil maxime rem amet harum eos qui,
                aliquid magni consequuntur aliquam veritatis in omnis animi facilis!</p>
        </div>
        <div class="slices">
            <h1>Delivery</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil maxime rem amet harum eos qui,
                aliquid magni consequuntur aliquam veritatis in omnis animi facilis!</p>
        </div>
        <div class="slices">
            <h1>Search Engine Optimization</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia nihil maxime rem amet harum eos qui,
                aliquid magni consequuntur aliquam veritatis in omnis animi facilis!</p>
        </div>
    </div>
</div>
<!-- <div class="team">
    <div class="title">
        <h3>our team</h3>
    </div>
</div> -->
{% endblock %}

{% block script %}
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/paraxify.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}