{% extends "base.html" %}
{% load static %}
{% block idBody %}{{self.id}}{% endblock idBody %}
{% block metaT %}{{self.page_meta_title}}{% endblock metaT %}
{% block metaD %}{{self.page_meta_description}}{% endblock metaD %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{self.page_title | capfirst}}</title>
{% endblock %}

{% block content %}
{% for val in data %}
<div class="contentContainer" id="content-{{val.id}}">
    <h4 data-text="{{val.content_title}}">{{val.content_title}}</h4>
    <p>{{val.content}}</p>
</div>
{% endfor %}

{% endblock %}