{% extends "base.html" %}
{% load static %}
{% block idBody %}{{self.id}}{% endblock idBody %}
{% block metaT %}{{self.page_meta_title}}{% endblock metaT %}
{% block metaD %}{{self.page_meta_description}}{% endblock metaD %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/seo.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{self.page_title | capfirst}}</title>
{% endblock %}

{% block content %}
<div class="contentContainer" id="content-{{link.id}}">
    <h4 data-text="{{link.title}}">{{link.title}}</h4>
    <p>{{link.content}}</p>
</div>

{% include 'contact-footer.html' %}
{% endblock %}