{% extends "base.html" %}
{% load static %}


{% block metaT %}{{service.service_meta_title}}{% endblock metaT %}
{% block metaD %}{{service.service_meta_description}}{% endblock metaD %}


{% block title %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<title>{{service.service_title}}</title>
{% endblock %}
{% block content %}
<h1 class="text-center">{{service.service_title}}</h1>

<div class="row m-0">
    <div class="card mb-3 col-md-4 mx-auto">
        <img src="{% static service.service_image %}" class="card-img-top" alt="{% static service.service_image_alt %}">
        <div class="card-body">
            <h5 class="card-title">{{service.service_title}}</h5>
            <p class="card-text">{{service.service_content}}</p>
            <a href="/services">Retour</a>
        </div>
    </div>
</div>
{% endblock %}