{% extends "base.html" %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{self.title | capfirst}}</title>
{% endblock %}
{% block content %}
<div class="services">
    <h1 class="servicesTitle" data-text="{{self.title | capfirst}}">{{self.title | capfirst}}</h1>

    <div class="servicesContainer">
        {% for service in services %}
        <div class="service">
            <img src="{% static service.service_image %}" class="service-img" alt="{{service.service_image_alt}}">
            <div class="service-body">
                <h3 class="service-title">{{service.service_title | capfirst}}</h3>
                <p class="service-text">{{service.service_content | capfirst}}</p>
                <a href="{% url 'service' service.service_url %}">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}