{% extends "base.html" %}
{% load static %}


{% block metaT %}{{service.service_meta_title}}{% endblock metaT %}
{% block metaD %}{{service.service_meta_description}}{% endblock metaD %}


{% block title %}
<link rel="stylesheet" href="{% static 'css/service.css' %}">
<title>{{user.nom_sur_site | capfirst}} | {{service.service_title | capfirst}}</title>
{% endblock %}
{% block content %}
<div class="srvs">
    <h1 class="srvs-title">{{service.service_title | capfirst}}</h1>

    <div class="srvsContainer">
            <p class="srvs-text">{{service.service_content | capfirst}}</p>
        <img src="{% static service.service_image %}" class="srvs-img-top"
            alt="{% static 'service.service_image_alt' %}">

        <a href="{% url 'services' %}">Back</a>
    </div>
</div>
{% endblock %}