body,
html {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

* {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1D2228;
}

@media screen and (max-width: 800px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

nav .logoContainer {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  height: 70px;
}

nav .logoContainer .logo {
  text-align: center;
}

nav .logoContainer .logo img {
  width: auto;
  height: 100%;
  max-width: 50px;
}

nav button {
  cursor: pointer;
  display: none;
  background: none;
  border: none;
}

@media screen and (max-width: 800px) {
  nav button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

nav button svg {
  width: 30px;
}

nav button svg * {
  fill: #fff;
}

nav .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}

nav .navLinks .scrollLogo {
  width: 0%;
  overflow: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

nav .navLinks .scrollLogo img {
  width: 85px;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
}

nav .navLinks #closeNav {
  position: absolute;
  display: none;
  top: 10%;
  right: 0;
  font-size: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
}

@media screen and (min-width: 800px) {
  nav .navLinks #closeNav {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  nav .navLinks {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0 !important;
    width: 100% !important;
    position: relative !important;
    left: auto !important;
    right: auto !important;
  }
}

@media screen and (max-width: 800px) {
  nav .navLinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 100%;
    background-color: #1D2228;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
}

nav .navLinks .navLinksUl {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 800px) {
  nav .navLinks .navLinksUl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav .navLinks .navLinksUl .navLinksItem {
  text-align: center;
  margin: auto 25px;
}

@media screen and (max-width: 800px) {
  nav .navLinks .navLinksUl .navLinksItem {
    margin: 10px auto;
  }
}

nav .navLinks .navLinksUl .navLinksItem a {
  font-family: 'Montserrat';
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: light;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
}

footer {
  background-color: #1D2228;
  position: relative;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .freeQuote {
  width: 100%;
  max-width: 700px;
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -40px;
  position: absolute;
  z-index: 2;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (max-width: 700px) {
  footer .freeQuote {
    position: relative;
    top: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .freeQuote h3,
  footer .freeQuote a {
    font-size: 14px;
  }
}

footer .freeQuote h3 {
  margin: auto;
}

footer .freeQuote a {
  background-color: transparent;
  border: 3px solid #1D2228;
  color: #1D2228;
  text-decoration: none;
  padding: 15px 25px;
  margin-right: 5px;
  margin: auto;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

footer .freeQuote a:hover {
  background-color: #1D2228;
  color: #fff;
}

@media screen and (max-width: 750px) {
  footer .freeQuote a {
    padding: 5px 15px;
  }
}

footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  footer .footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footerContent .navigation {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footerContent .navigation h2 {
  color: #fff;
  margin: 30px 0;
  text-decoration: underline;
}

footer .footerContent .navigation ul {
  list-style-type: none;
  display: inline-block;
}

footer .footerContent .navigation ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContent .navigation ul li:hover::before {
  width: 20px;
}

footer .footerContent .navigation ul li:before {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

footer .footerContent .navigation ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

footer .footerContent .seoLinks {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer .footerContent .seoLinks h2 {
  color: #fff;
  margin: 30px 0;
  text-decoration: underline;
}

footer .footerContent .seoLinks ul {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  max-height: 200px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

footer .footerContent .seoLinks ul::-webkit-scrollbar {
  width: 5px;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-thumb {
  background: #888;
}

footer .footerContent .seoLinks ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer .footerContent .seoLinks ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerContent .seoLinks ul li:hover a {
  text-decoration: underline;
}

footer .footerContent .seoLinks ul li:after {
  content: " - ";
  display: block;
  color: #fff;
  margin: 0 5px;
}

footer .footerContent .seoLinks ul li:last-child:after {
  display: none;
}

footer .footerContent .seoLinks ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footerLogo {
  margin: auto;
}

footer .footerLogo a img {
  width: 60px;
}
/*# sourceMappingURL=base.css.map */