$dark:#1D2228;
$light:#8A8DA2;
$darker:#140d17;

* {
    box-shadow: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

nav {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    background-color: $dark;

    @media screen and (max-width:800px) {

        flex-direction: row;
    }

    .logoContainer {
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all .4s ease-in-out;
        height: 70px;

        .logo {
            text-align: center;

            img {
                width: auto;
                height: 100%;
                max-width: 50px;
            }
        }
    }

    button {
        cursor: pointer;
        display: none;
        background: none;
        border: none;

        @media screen and (max-width:800px) {
            display: flex;
            margin: auto;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        svg {
            width: 30px;

            * {
                fill: #fff;
            }
        }
    }

    .navLinks {
        display: flex;
        padding: 0;
        width: 100%;
        position: relative;

        .scrollLogo {
            width: 0%;
            overflow: hidden;

            transition: all .4s ease-in-out;

            img {
                width: 85px;
                height: 85px;
                object-fit: contain;
            }
        }

        #closeNav {
            position: absolute;
            display: none;
            top: 10%;
            right: 0;
            font-size: 50px;
            color: #fff;
            background-color: transparent;
            border: none;
            width: 80px;
            height: 80px;

            @media screen and (min-width:800px) {

                display: none !important;
            }
        }

        @media screen and (min-width:800px) {
            display: flex !important;
            padding: 0 !important;
            width: 100% !important;
            position: relative !important;
            left: auto !important;
            right: auto !important;
        }

        @media screen and (max-width:800px) {
            position: absolute;
            width: 100%;
            height: 100vh;
            left: 100%;
            background-color: $dark;
            flex-direction: column;
            display: none;
        }

        .navLinksUl {
            @media screen and (max-width:800px) {
                flex-direction: column;
            }

            list-style-type: none;
            display: flex;
            margin: auto;

            .navLinksItem {
                text-align: center;
                margin: auto 25px;

                @media screen and (max-width:800px) {
                    margin: 10px auto;
                }

                a {
                    font-family: 'Montserrat';
                    color: #fff;
                    text-decoration: none;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: light;
                }
            }
        }

    }
}

.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
}

footer {
    background-color: $dark;
    position: relative;
    padding: 5%;
    display: flex;
    flex-direction: column;

    .freeQuote {
        width: 100%;
        max-width: 700px;
        height: 80px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -40px;
        position: absolute;
        z-index: 2;
        right: 50%;
        transform: translateX(50%);

        @media screen and (max-width:700px) {
            position: relative;
            top: auto;
            flex-direction: column;

            h3,
            a {
                font-size: 14px;
            }
        }

        h3 {
            margin: auto;
        }

        a {
            background-color: transparent;
            border: 3px solid $dark;
            color: $dark;
            text-decoration: none;
            padding: 15px 25px;
            margin-right: 5px;
            margin: auto;

            @media screen and (max-width:750px) {
                padding: 5px 15px;
            }

        }
    }

    .footerContent {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 50px;

        @media screen and (max-width:700px) {
            flex-direction: column;
        }

        .navigation {
            align-self: flex-start;

            h2 {
                color: #fff;
                margin: 30px 0;
                text-decoration: underline;
            }

            ul {
                list-style-type: none;
                display: inline-block;

                li {
                    display: flex;
                    position: relative;
                    align-items: center;

                    &:hover {
                        &::before {
                            width: 20px;
                        }
                    }

                    &:before {
                        content: "";
                        width: 0px;
                        height: 2px;
                        background-color: #fff;
                        display: inline-block;
                        transition: width .4s ease-in-out;
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .seoLinks {
            align-self: flex-start;

            h2 {
                color: #fff;
                margin: 30px 0;
                text-decoration: underline;
            }

            ul {
                list-style-type: none;
                display: inline-flex;
                flex-wrap: wrap;
                max-width: 500px;
                max-height: 200px;

                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                li {
                    display: flex;
                    position: relative;
                    align-items: center;

                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                    }

                    &:after {
                        content: " - ";
                        display: block;
                        color: #fff;
                        margin: 0 5px;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footerLogo {
        margin: auto;

        a {
            img {
                width: 60px;
            }
        }
    }

}