$blue:#28527A;
$tablet:850px;
$minipc:1200px;


.firstView {
    height: 100vh;

    .bgDiv {
        background: $blue;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        z-index: -1;

        @media screen and (max-width:$tablet) {
            width: 100%;
            height: 50%;
            bottom: 0;
            top: auto;
        }
    }

    img {
        width: 75%;
        height: auto;
        position: absolute;

        @media screen and (max-width:$tablet) {
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    }

    .fvtitle {
        font-size: 5em;
        z-index: 1;
        color: #fff;
        right: 5%;
        position: absolute;
        max-width: 100%;
        margin-top: 20vh;
        text-shadow: 2px 5px 17px black;

        @media screen and (max-width:$tablet) {
            margin: auto;
            bottom: 5vh;
            font-size: 3.5rem;
            text-shadow: none;
        }
    }

    .fvLink {
        color: #fff;
        font-size: 2rem;
        z-index: 1;
        position: absolute;
        bottom: 5vh;
        right: 10%;
        text-decoration: none;

        &::after {
            content: "";
            width: 100%;
            display: block;
            visibility: hidden;
            height: 5px;
            background-color: #fff;
        }

        &:hover {
            &::after {
                visibility: visible;
                animation: underLine .4s ease-in-out;

                @keyframes underLine {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 100%;
                    }
                }
            }

            &::before {
                right: -55px;
            }
        }

        &::before {
            content: "\f061";
            /* this is your text. You can also use UTF-8 character codes as I do here */
            font-family: "Font Awesome\ 5 Free";
            right: -35px;
            transition: all .4s ease-in-out;
            position: absolute;
            color: white;
            font-weight: 900;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}