$dark:#1D2228;
$light:#8A8DA2;
$darker:#140d17;
$tablet:850px;
$s5:850px;
$minipc:1200px;


@for $i from 1 to 7 {
    h#{$i} {
        font-family: Montserrat;
    }
}

* {
    font-family: Montserrat;
}

img {
    width: 100%;
    height: 100%;
}

.landing {
    width: 100%;
    height: 170vh;
    overflow: hidden;
    position: relative;
    top: 0;
    z-index: 0;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 60%);

    .socialLinks {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: calc(45vh - 179px);
        left: 0;
        z-index: 9;

        .socialLink {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            background-color: #fff;
            margin-bottom: 10px;
            padding: 10px 10px 10px 15px;
            margin-left: -140%;
            transition: margin-left .4s ease-in-out;

            &:hover {
                margin-left: 0;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $dark;
                font-weight: bold;
                width: 100%;
                height: 100%;

            }

            img {
                width: 30px;
                margin-left: auto;
            }
        }
    }

    .bgImage {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6755077030812324) 73%, rgba(0, 0, 0, 1) 100%);
        }
    }

    .quote {
        z-index: 1;
        position: absolute;
        top: 40vh;
        color: #fff;
        left: 40%;
        font-size: 2.5em;
        width: 100%;
        text-transform: uppercase;
        transform: translateY(-50%);

        @media screen and (max-width:$s5) {
            font-size: 1.3em;
        }

        @media screen and (max-width:$minipc) {
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
        }
    }

    .secondQuote {
        z-index: 1;
        position: absolute;
        top: 120vh;
        color: rgb(255, 255, 255);
        font-size: 30px;
        left: 50%;

        @media screen and (max-width:1670px) {
            top: 100vh;
            font-size: 30px;
            left: 35%;
            font-size: 1.3em;
        }

    }
}

.salma {
    position: absolute;
    width: auto;
    height: 50vh;
    top: calc(100vh + 300px);

    img {
        transform: rotateY(180deg);
    }
}

.about {
    display: flex;
    padding: 4%;

    @media screen and (max-width:$tablet) {
        flex-wrap: wrap;

        .aboutImage {
            width: 100% !important;
        }

        .aboutContentContainer {
            width: 100% !important;
        }
    }

    .aboutContentContainer {
        display: flex;
        flex-direction: column;
        padding: 2%;
        width: 45%;

        .aboutTitle {
            text-transform: uppercase;
            font-size: 2em;
            text-align: center;
            padding: 50px;
        }

        .aboutContent {
            font-size: 1.3em;
            margin: auto;
        }

        .aboutButton {
            margin: auto;
            text-align: center;
            display: flex;
            height: 100px;

            a {
                border: 2px solid $dark;
                padding: 20px 30px;
                text-decoration: none;
                color: $dark;
                background-color: transparent;
                font-size: 1.5em;
                overflow: hidden;
                margin: auto;
                position: relative;

                &::before {
                    content: "";
                    width: 0%;
                    height: 100%;
                    background-color: $dark;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transition: all .4s ease-in-out;
                    z-index: -99;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        left: 0;
                    }

                    color: #fff;
                }

                @keyframes aboutBtnAnimation {
                    0% {
                        left: -100%;
                    }

                    50% {
                        left: 0%;
                    }

                    100% {
                        left: 100%;
                    }
                }

                a::first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }

    .aboutImage {
        width: 55%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(1);
            transition: .5s ease-in-out;

            &:hover {
                filter: none;
            }
        }
    }
}

.mission {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 2em;
        text-transform: uppercase;
        margin: 7vh auto;
    }

    .parallax {
        .slices {
            height: 70vh;
            background-image: url('/static/images/graphs.webp');
            background-attachment: fixed;
            background-position: center center;
            background-size: cover;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 0 20%;

            @media screen and (max-width:700px) {
                padding: 0 7%;
            }

            h1,
            p {
                z-index: 2;
                color: #fff;
                text-align: center;
            }

            p {
                font-size: 30px;
            }

            &:nth-child(even) {
                background-image: url('/static/images/spetch.webp');
            }

            &::before {
                content: "";
                background-color: #0000005c;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }

}