h1 {
  font-family: 'Montserrat-Bold';
}

h2 {
  font-family: 'Montserrat-Bold';
}

h3 {
  font-family: 'Montserrat-Bold';
}

h4 {
  font-family: 'Montserrat-Bold';
}

h5 {
  font-family: 'Montserrat-Bold';
}

h6 {
  font-family: 'Montserrat-Bold';
}

* {
  font-family: Montserrat;
}

img {
  width: 100%;
  height: 100%;
}

.landing {
  width: 100%;
  height: 170vh;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 0;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 60%);
          clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 60%);
}

.landing .socialLinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(45vh - 179px);
  left: 0;
  z-index: 9;
}

.landing .socialLinks .socialLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px 10px 10px 15px;
  margin-left: -140%;
  -webkit-transition: margin-left .4s ease-in-out;
  transition: margin-left .4s ease-in-out;
}

.landing .socialLinks .socialLink:hover {
  margin-left: 0;
}

.landing .socialLinks .socialLink a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #1D2228;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.landing .socialLinks .socialLink img {
  width: 30px;
  margin-left: auto;
}

.landing .bgImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing .bgImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.landing .bgImage::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(73%, rgba(0, 0, 0, 0.675508)), to(black));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.675508) 73%, black 100%);
}

.landing .quote {
  z-index: 1;
  position: absolute;
  top: 40vh;
  color: #fff;
  left: 40%;
  font-size: 2.5em;
  width: 100%;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 850px) {
  .landing .quote {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1200px) {
  .landing .quote {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}

.landing .secondQuote {
  z-index: 1;
  position: absolute;
  top: 120vh;
  color: white;
  font-size: 30px;
  left: 50%;
}

@media screen and (max-width: 1670px) {
  .landing .secondQuote {
    top: 100vh;
    font-size: 30px;
    left: 35%;
    font-size: 1.3em;
  }
}

.salma {
  position: absolute;
  width: auto;
  height: 50vh;
  top: calc(100vh + 300px);
}

.salma img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4%;
}

@media screen and (max-width: 850px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .aboutImage {
    width: 100% !important;
  }
  .about .aboutContentContainer {
    width: 100% !important;
  }
}

.about .aboutContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  width: 45%;
}

.about .aboutContentContainer .aboutTitle {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  padding: 50px;
}

.about .aboutContentContainer .aboutContent {
  font-size: 1.3em;
  margin: auto;
}

.about .aboutContentContainer .aboutButton {
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.about .aboutContentContainer .aboutButton a {
  border: 2px solid #1D2228;
  padding: 20px 30px;
  text-decoration: none;
  color: #1D2228;
  background-color: transparent;
  font-size: 1.5em;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.about .aboutContentContainer .aboutButton a::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #1D2228;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  z-index: -99;
}

.about .aboutContentContainer .aboutButton a:hover {
  color: #fff;
}

.about .aboutContentContainer .aboutButton a:hover::before {
  width: 100%;
  left: 0;
}

@-webkit-keyframes aboutBtnAnimation {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes aboutBtnAnimation {
  0% {
    left: -100%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.about .aboutContentContainer .aboutButton a a::first-letter {
  text-transform: capitalize;
}

.about .aboutImage {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .aboutImage img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  max-width: 500px;
  margin: auto;
}

.about .aboutImage img:hover {
  -webkit-filter: none;
          filter: none;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mission .title {
  font-size: 2em;
  text-transform: uppercase;
  margin: 7vh auto;
}

.mission .parallax .slices {
  height: 70vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20%;
}

@media screen and (max-width: 700px) {
  .mission .parallax .slices {
    padding: 0 7%;
  }
}

.mission .parallax .slices h1,
.mission .parallax .slices p {
  z-index: 2;
  color: #fff;
  text-align: center;
}

.mission .parallax .slices p {
  font-size: 30px;
}

.mission .parallax .slices::before {
  content: "";
  background-color: #0000005c;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*# sourceMappingURL=index.css.map */