$dark:#1D2228;
$light:#8A8DA2;
$darker:#140d17;

.contentContainer {
    background-color: $dark;
    padding: 50px 160px 100px;

    @media screen and (max-width:700px) {
        padding: 20px;
    }

    h4 {
        color: #fff;
        width: 100%;
        text-align: center;
        position: relative;
        font-size: 50px;
        text-transform: uppercase;
        margin: 0 0 30px 0;

        &::before {
            content: attr(data-text);
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            font-size: 65px;
            color: #ccc3;
            z-index: 0;
            top: -21px;
            letter-spacing: 4px;
        }
    }

    p {
        color: #fff;
    }
}