$dark:#1D2228;
$light:#8A8DA2;
$darker:#140d17;

.srvs {
    padding: 70px;
    background-color: $dark;

    @media screen and (max-width:700px) {
        padding: 20px;
    }

    h1 {
        font-size: 50px;
        color: #fff;
        text-align: center;
        position: relative;

        @media screen and (max-width:700px) {
            font-size: 30px;
        }


        &::before {
            content: attr(data-text);
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            font-size: 65px;
            color: #ccc3;
            z-index: 0;
            top: -21px;
            letter-spacing: 4px;
            white-space: nowrap;
        }
    }

    .srvsContainer {
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: space-around;
        height: 500px;
        padding: 70px;

        @media screen and (max-width:700px) {
            padding: 10px;
            height: 400px;
        }

        img {
            max-width: 500px;
            width: 100%;
            margin: auto;
        }

        a {
            margin: auto;
            border: 2px solid #fff;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: #fff;
                color: $dark;
            }
        }
    }
}