$dark:#1D2228;
$light:#8A8DA2;
$darker:#140d17;

.services {
    padding: 80px 0;
    background-color: $dark;
    @media screen and (max-width:768px) {
        padding-bottom: 0;
    }

    .servicesTitle {
        color: #fff;
        width: 100%;
        text-align: center;
        position: relative;
        font-size: 50px;
        text-transform: uppercase;
        margin: 30px 0;

        &::before {
            content: attr(data-text);
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            font-size: 65px;
            color: #ccc3;
            z-index: 0;
            top: -21px;
            letter-spacing: 4px;
        }
    }

    .servicesContainer {
        display: flex;
        flex-direction: column;
        padding: 30px 0;


        .service {
            display: flex;
            height: 300px;
            margin-bottom: 50px;

            @media screen and (max-width:768px) {
                flex-direction: column;
                height: auto;
            }

            &:nth-child(even) {
                justify-content: flex-end;

                img {
                    order: 2;
                }

                .service-body {
                    order: 1;
                }

            }

            &:nth-child(odd) {
                justify-content: flex-start;

                img {
                    order: 1;
                }

                .service-body {
                    order: 2;
                }

            }

            img {
                width: 40%;
                object-fit: cover;
                object-position: center;
                height: 100%;
                max-height: 400px;

                @media screen and (max-width:768px) {
                    width: 100%;
                    order: unset !important;
                }
            }

            .service-body {
                width: calc(50% - 100px);
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 0 50px;
                color: #fff;
                margin: auto;

                @media screen and (max-width:768px) {
                    width: 100%;
                    order: unset !important;
                    padding: 0;
                    justify-content: center;
                    text-align: center;
                }

                h3 {
                    font-size: 30px;

                    @media screen and (max-width:768px) {
                        margin: 20px;
                    }

                }

                p {

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    &::first-letter {
                        text-transform: uppercase;
                    }

                    @media screen and (max-width:768px) {
                        margin: 20px;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;
                    border: 2px solid #fff;
                    padding: 10px 20px;
                    transition: all .4s ease-in-out;

                    &:hover {
                        background-color: #fff;
                        color: $dark;
                    }

                    @media screen and (max-width:768px) {
                        margin: 20px;
                    }
                }

            }

        }
    }
}